<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/nav.ejs')%>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id quos modi
        maxime quisquam optio, voluptatibus ullam sint itaque amet natus sed
        fuga qui sequi odio explicabo et vero veritatis atque!
      </p>
      <p>
        Error nulla voluptates facere neque maiores excepturi, illum doloribus
        inventore deserunt officiis at commodi fugit. Beatae eius hic
        praesentium, adipisci excepturi error doloremque soluta delectus quam
        temporibus atque unde maiores!
      </p>
      <p>
        Ipsa dolorem illo eaque sint quaerat blanditiis sit laborum ex, officia
        veritatis culpa vero earum expedita eveniet ut amet quibusdam doloremque
        enim, totam alias temporibus quam consectetur! Aliquam, amet mollitia!
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
